.container {
    display: block;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    color: white;
    border-radius: 10px;
    background-color: #1f7ea1;

}

hr {
    border-color: lightgrey;
    background-color: rgb(235, 53, 53);
}

.header {
    /* //background-color: #1f7ea1;*/
    /*padding: 15px;*/
    border-radius: 10px 10px 0 0;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header_nav li a {
    display: block;
    text-align: center;
    color: lightgrey;


    text-align: center;
    padding: 14px 16px;


}

.photo {
    text-align: center;
    border-radius: 50%;
}



.main {
    display: flex;
    justify-content: space-between;
    gap: 5%;

    color: black;
}

.main_left_aside {
    width: 35%;
    /*  background-color: #1f7ea1;*/
    padding: 0 15px;
    //float: left;

}

.main_contant {
    width: 55%;
    border-radius: 3px;
    background-color: #8d9294;
    padding: 10px;
    margin: 15px;

}

pre {

    background-color: white;
    padding: 0;
    margin: 5px;
    border-radius: 4px;

}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;

}

.footer a{
display: flex;
    align-items: center;
}